body {
    background-color: var(--color-light-blue);
}

.layoutCentered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__container {
        background-color: var(--color-white);
        box-shadow:  0 8px 16px rgba(0, 0, 0, 0.24);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 30px 30px;
    }
}